h1 {text-align:center; font-family:'Dancing Script'; font-size:40px; color: orange;}
h1 {border-style: solid; border-width: 18px;border-color:peachpuff;}
p {font-family: "Courier New", Courier, monospace; font-size:14pt; text-indent:15pt}
img {float:right;}
hr {width:70%; color:coral; height: 6px; background-color:coral;}
span {font: weight 90px;; font-style:italic;}
.redb {border:3px dotted black;position:absolute; left: 20px;}
a:hover{font-size: 120%;}
.div_1{background-color: wheat;}
.div_2{background-color:pink;}
.div_3{background-color:tan;}
h2+p::first-letter{font-size: 130%;}
.mys {text-shadow:3px 3px 2px steelblue;}
ol{font-family: "Courier New", Courier, monospace; font-size:12pt; text-indent:15pt}
.nav {overflow: hidden;background-color:salmon;padding-left: 33.5%;}
.nav a {float: left;font-size: 16px;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
.navbar {float:left;overflow: hidden;}
.navbar{font-size: 16px; text-align: center;border: none;outline: none;color:plum; padding: 14px 16px;background-color: inherit;font-family:inherit;margin:0}
.navbarcontent {display: none;position: absolute;background-color:white;z-index: 1;}
.navbarcontent a {float: left; color: grey; text-decoration: none;}
.navbar:hover .navbarcontent {display: block;}