h1 {text-align:center; font-family:'Dancing Script'; font-size:40px; color: orange;}
h1 {border-style: solid; border-width: 18px;border-color:peachpuff;}
h1 {position:absolute; top:15px; left:10px;}
p {font-family: "Courier New", Courier, monospace; font-size:14pt; text-indent:15pt}
img {float:right;}
hr {width:70%; color:coral; height: 6px; background-color:coral;}
span {font: weight 90px;; font-style:italic;}
.redb {border:3px dotted black; }
a:hover{font-size: 120%;}
.div_1{background-color: wheat;}
.div_2{background-color:pink;}
.div_3{background-color:tan;}
h2+p::first-letter{font-size: 130%;}
.mys {text-shadow:3px 3px 2px steelblue;}
ol{font-family: "Courier New", Courier, monospace; font-size:12pt; text-indent:15pt}
.topnav { background-color:lightgoldenrodyellow;overflow: hidden;}
.topnav a{float:center;color:plum;text-align: center; padding: 14px 16px;text-decoration: none;font-size: 17px;}

  